In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('csv/Admission_Predict.csv', index_col=0)
df.head()

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
Serial No.,,,,,,,,
1,337,118,4,4.5,4.5,9.65,1,0.92
2,324,107,4,4.0,4.5,8.87,1,0.76
3,316,104,3,3.0,3.5,8.00,1,0.72
4,322,110,3,3.5,2.5,8.67,1,0.80
5,314,103,2,2.0,3.0,8.21,0,0.65

In [3]:
df['Serial Number'] = df.index
df = df.set_index('Chance of Admit ')
df.head()

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Serial Number
Chance of Admit,,,,,,,,
0.92,337,118,4,4.5,4.5,9.65,1,1
0.76,324,107,4,4.0,4.5,8.87,1,2
0.72,316,104,3,3.0,3.5,8.00,1,3
0.80,322,110,3,3.5,2.5,8.67,1,4
0.65,314,103,2,2.0,3.0,8.21,0,5

In [4]:
df = df.reset_index()
df.head()

,Chance of Admit,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Serial Number
0,0.92,337,118,4,4.5,4.5,9.65,1,1
1,0.76,324,107,4,4.0,4.5,8.87,1,2
2,0.72,316,104,3,3.0,3.5,8.00,1,3
3,0.80,322,110,3,3.5,2.5,8.67,1,4
4,0.65,314,103,2,2.0,3.0,8.21,0,5

In [5]:
df = pd.read_csv('csv/census.csv')
df.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
0,40,3,6,1,0,Alabama,Alabama,4779736,4780127,4785161,...,0.002295,-0.193196,0.381066,0.582002,-0.467369,1.030015,0.826644,1.383282,1.724718,0.712594
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861

In [6]:
df['SUMLEV'].unique()

array([40, 50], dtype=int64)

In [7]:
df=df[df['SUMLEV'] == 50]
df.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861
5,50,3,6,1,9,Alabama,Blount County,57322,57322,57373,...,1.807375,-1.177622,-1.748766,-2.062535,-1.369970,1.859511,-0.848580,-1.402476,-1.577232,-0.884411

In [9]:
columns_to_keep = ['STNAME', 'CTYNAME', 'BIRTHS2010', 'BIRTHS2011', 'BIRTHS2012', 'BIRTHS2013', 'BIRTHS2014', 'BIRTHS2015',
                  'POPESTIMATE2010', 'POPESTIMATE2011', 'POPESTIMATE2012', 'POPESTIMATE2013', 'POPESTIMATE2014', 
                   'POPESTIMATE2015']
df = df[columns_to_keep]
df.head()

,STNAME,CTYNAME,BIRTHS2010,BIRTHS2011,BIRTHS2012,BIRTHS2013,BIRTHS2014,BIRTHS2015,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,POPESTIMATE2013,POPESTIMATE2014,POPESTIMATE2015
1,Alabama,Autauga County,151,636,615,574,623,600,54660,55253,55175,55038,55290,55347
2,Alabama,Baldwin County,517,2187,2092,2160,2186,2240,183193,186659,190396,195126,199713,203709
3,Alabama,Barbour County,70,335,300,283,260,269,27341,27226,27159,26973,26815,26489
4,Alabama,Bibb County,44,266,245,259,247,253,22861,22733,22642,22512,22549,22583
5,Alabama,Blount County,183,744,710,646,618,603,57373,57711,57776,57734,57658,57673

In [10]:
df = df.set_index(['STNAME', 'CTYNAME'])
df.head()

                        BIRTHS2010  BIRTHS2011  BIRTHS2012  BIRTHS2013  \
STNAME  CTYNAME
Alabama Autauga County         151         636         615         574
        Baldwin County         517        2187        2092        2160
        Barbour County          70         335         300         283
        Bibb County             44         266         245         259
        Blount County          183         744         710         646

                        BIRTHS2014  BIRTHS2015  POPESTIMATE2010  \
STNAME  CTYNAME
Alabama Autauga County         623         600            54660
        Baldwin County        2186        2240           183193
        Barbour County         260         269            27341
        Bibb County            247         253            22861
        Blount County          618         603            57373

                        POPESTIMATE2011  POPESTIMATE2012  POPESTIMATE2013  \
STNAME  CTYNAME
Alabama Autauga County            55253            55175            55038
        Baldwin County           186659           190396           195126
        Barbour County            27226            27159            26973
        Bibb County               22733            22642            22512
        Blount County             57711            57776            57734

                        POPESTIMATE2014  POPESTIMATE2015
STNAME  CTYNAME
Alabama Autauga County            55290            55347
        Baldwin County           199713           203709
        Barbour County            26815            26489
        Bibb County               22549            22583
        Blount County             57658            57673

In [14]:
df.loc['Michigan', 'Washtenaw County']

BIRTHS2010            977
BIRTHS2011           3826
BIRTHS2012           3780
BIRTHS2013           3662
BIRTHS2014           3683
BIRTHS2015           3709
POPESTIMATE2010    345563
POPESTIMATE2011    349048
POPESTIMATE2012    351213
POPESTIMATE2013    354289
POPESTIMATE2014    357029
POPESTIMATE2015    358880
Name: (Michigan, Washtenaw County), dtype: int64

In [16]:
df.loc[[('Michigan', 'Washtenaw County'), ('Michigan', 'Wayne County')]]

                           BIRTHS2010  BIRTHS2011  BIRTHS2012  BIRTHS2013  \
STNAME   CTYNAME
Michigan Washtenaw County         977        3826        3780        3662
         Wayne County            5918       23819       23270       23377

                           BIRTHS2014  BIRTHS2015  POPESTIMATE2010  \
STNAME   CTYNAME
Michigan Washtenaw County        3683        3709           345563
         Wayne County           23607       23586          1815199

                           POPESTIMATE2011  POPESTIMATE2012  POPESTIMATE2013  \
STNAME   CTYNAME
Michigan Washtenaw County           349048           351213           354289
         Wayne County              1801273          1792514          1775713

                           POPESTIMATE2014  POPESTIMATE2015
STNAME   CTYNAME
Michigan Washtenaw County           357029           358880
         Wayne County              1766008          1759335

In [17]:
df.T

STNAME                 Alabama                                            \
CTYNAME         Autauga County Baldwin County Barbour County Bibb County
BIRTHS2010                 151            517             70          44
BIRTHS2011                 636           2187            335         266
BIRTHS2012                 615           2092            300         245
BIRTHS2013                 574           2160            283         259
BIRTHS2014                 623           2186            260         247
BIRTHS2015                 600           2240            269         253
POPESTIMATE2010          54660         183193          27341       22861
POPESTIMATE2011          55253         186659          27226       22733
POPESTIMATE2012          55175         190396          27159       22642
POPESTIMATE2013          55038         195126          26973       22512
POPESTIMATE2014          55290         199713          26815       22549
POPESTIMATE2015          55347         203709          26489       22583

STNAME                                                                     \
CTYNAME         Blount County Bullock County Butler County Calhoun County
BIRTHS2010                183             39            65            317
BIRTHS2011                744            169           276           1382
BIRTHS2012                710            122           241           1357
BIRTHS2013                646            132           240           1309
BIRTHS2014                618            118           267           1355
BIRTHS2015                603            123           257           1335
POPESTIMATE2010         57373          10887         20944         118437
POPESTIMATE2011         57711          10629         20673         117768
POPESTIMATE2012         57776          10606         20408         117286
POPESTIMATE2013         57734          10628         20261         116575
POPESTIMATE2014         57658          10829         20276         115993
POPESTIMATE2015         57673          10696         20154         115620

STNAME                                           ...         Wyoming  \
CTYNAME         Chambers County Cherokee County  ... Niobrara County
BIRTHS2010                   81              55  ...               6
BIRTHS2011                  401             221  ...              18
BIRTHS2012                  393             245  ...              18
BIRTHS2013                  404             232  ...              27
BIRTHS2014                  421             261  ...              27
BIRTHS2015                  429             250  ...              25
POPESTIMATE2010           34098           25976  ...            2492
POPESTIMATE2011           33993           26080  ...            2485
POPESTIMATE2012           34075           26023  ...            2475
POPESTIMATE2013           34153           26084  ...            2548
POPESTIMATE2014           34052           25995  ...            2530
POPESTIMATE2015           34123           25859  ...            2542

STNAME                                                                     \
CTYNAME         Park County Platte County Sheridan County Sublette County
BIRTHS2010               73            13              87              34
BIRTHS2011              299            82             343             134
BIRTHS2012              327            93             332             138
BIRTHS2013              301            94             306             132
BIRTHS2014              323            81             361             122
BIRTHS2015              313            90             338             128
POPESTIMATE2010       28259          8678           29146           10244
POPESTIMATE2011       28473          8701           29275           10142
POPESTIMATE2012       28863          8732           29594           10418
POPESTIMATE2013       29237          8728           29794           10086
POPESTIMATE2014       29126          8776           30020           10039
POPESTIMATE2015       29228          8812           30009            9899

STNAME                                                                       \
CTYNAME         Sweetwater County Teton County Uinta County Washakie County
BIRTHS2010                    167           76           73              26
BIRTHS2011                    640          259          324             108
BIRTHS2012                    595          230          311              90
BIRTHS2013                    657          261          316              95
BIRTHS2014                    629          249          316              96
BIRTHS2015                    620          269          316              90
POPESTIMATE2010             43593        21297        21102            8545
POPESTIMATE2011             44041        21482        20912            8469
POPESTIMATE2012             45104        21697        20989            8443
POPESTIMATE2013             45162        22347        21022            8443
POPESTIMATE2014             44925        22905        20903            8316
POPESTIMATE2015             44626        23125        20822            8328

STNAME
CTYNAME         Weston County
BIRTHS2010                 26
BIRTHS2011                 81
BIRTHS2012                 74
BIRTHS2013                 93
BIRTHS2014                 77
BIRTHS2015                 79
POPESTIMATE2010          7181
POPESTIMATE2011          7114
POPESTIMATE2012          7065
POPESTIMATE2013          7160
POPESTIMATE2014          7185
POPESTIMATE2015          7234

[12 rows x 3142 columns]

In [18]:
df

                           BIRTHS2010  BIRTHS2011  BIRTHS2012  BIRTHS2013  \
STNAME  CTYNAME
Alabama Autauga County            151         636         615         574
        Baldwin County            517        2187        2092        2160
        Barbour County             70         335         300         283
        Bibb County                44         266         245         259
        Blount County             183         744         710         646
...                               ...         ...         ...         ...
Wyoming Sweetwater County         167         640         595         657
        Teton County               76         259         230         261
        Uinta County               73         324         311         316
        Washakie County            26         108          90          95
        Weston County              26          81          74          93

                           BIRTHS2014  BIRTHS2015  POPESTIMATE2010  \
STNAME  CTYNAME
Alabama Autauga County            623         600            54660
        Baldwin County           2186        2240           183193
        Barbour County            260         269            27341
        Bibb County               247         253            22861
        Blount County             618         603            57373
...                               ...         ...              ...
Wyoming Sweetwater County         629         620            43593
        Teton County              249         269            21297
        Uinta County              316         316            21102
        Washakie County            96          90             8545
        Weston County              77          79             7181

                           POPESTIMATE2011  POPESTIMATE2012  POPESTIMATE2013  \
STNAME  CTYNAME
Alabama Autauga County               55253            55175            55038
        Baldwin County              186659           190396           195126
        Barbour County               27226            27159            26973
        Bibb County                  22733            22642            22512
        Blount County                57711            57776            57734
...                                    ...              ...              ...
Wyoming Sweetwater County            44041            45104            45162
        Teton County                 21482            21697            22347
        Uinta County                 20912            20989            21022
        Washakie County               8469             8443             8443
        Weston County                 7114             7065             7160

                           POPESTIMATE2014  POPESTIMATE2015
STNAME  CTYNAME
Alabama Autauga County               55290            55347
        Baldwin County              199713           203709
        Barbour County               26815            26489
        Bibb County                  22549            22583
        Blount County                57658            57673
...                                    ...              ...
Wyoming Sweetwater County            44925            44626
        Teton County                 22905            23125
        Uinta County                 20903            20822
        Washakie County               8316             8328
        Weston County                 7185             7234

[3142 rows x 12 columns]